{% extends 'responsive.html.twig' %}

{% block title %}{{ parent() }} - Liste des absences{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>Absence <b>étudiant</b></h1>
                    </div>
                </div>
            </div>
            <div>
                <form method="POST" action="#" enctype="multipart/form-data">
                    <!-- COMPONENT START -->
                    <div class="form-group">
                        <div class="input-group input-file" name="Fichier1">
                            <input type="text" class="form-control" placeholder='Choose a file...' />			
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-choose" type="button">Choose</button>
                            </span>
                
                
                        </div>
                    </div>
                    <!-- COMPONENT END -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right" disabled>Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkAll">
                                <label class="custom-control-label" for="checkAll"></label>
                            </div>
                        </th>
                        <th>Du</th>
                        <th>Au</th>
                        <th>Cours</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stuPre in pagination %}
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id={{stuPre.id}}>
                                    <label class="custom-control-label" for={{stuPre.id}}></label>
                                </div>
                            </td>
                            <td>{{ stuPre.lesson.dateStart|date('d-m-Y h:m') }}</td>
                            <td>{{ stuPre.lesson.dateEnd|date('d-m-Y h:m') }}</td>
                            <td>{{stuPre.lesson.name}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>        
{% endblock %}                    