{% extends 'base.html.twig' %}

{% set title = update ? 'Modification de ' ~ student.username : "Ajout d'étudiant" %}
{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block container %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" type="submit">Enregistrer</button>
    <a href="{{ path('student_index') }}" class="btn btn-secondary">Retour à la liste</a>
    {% if update %}
        {% include 'ui/_delete_form.html.twig' with { id: student.id, path: 'student_delete' } %}
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
