{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <h1>Student</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ student.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ student.photo }}</td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ student.ClassGroup.name }}</td>
            </tr>
        </tbody>
    </table>


    <h1>Presence of the student</h1>

        {% for presence in student.presences %}
            {% if presence.present!=true or presence.late!=null%}
            <li class="list-group-item d-flex justify-content-between align-items-center">

                {{ presence.rollcall.dateStart|date("Y-m-d H:i:s")}} -
                {{ presence.present ? 'Présent' : 'Absence'}} -

                {{ presence.excuse ? presence.excuse : 'Non justifiée' }} -
                {% if presence.excuseProof %}
                <img src="{{ asset('/presences/proofs/') ~ presence.excuseProof }}" />
                {% else %}
                    Pas d'image
                    {% endif %}

                <span class="badge badge-primary badge-pill">{{ presence.rollcall.duration}}h</span>
            </li>
            {% endif %}
        {% else %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Il n'y a pas de données.
                </li>
            </ul>

        {% endfor %}

    <a href="{{ path('student_index') }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>

    {{ include('ui/_delete_form.html.twig', { path: 'student_delete', id: student.id }) }}
{% endblock %}
