{% extends 'base.html.twig' %}

{% block title %}Teacher{% endblock %}

{% block container %}
    <h1>Teacher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ teacher.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ teacher.email }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Groupes</h1>
    <ul>
        {% for classGroups in teacher.classGroups%}
            <li>{{ classGroups.name }}</li>
            <br>
        {% endfor %}
    </ul>

    <a href="{{ path('teacher_index') }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>

    {{ include('ui/_delete_form.html.twig', { path: 'teacher_delete', id: teacher.id }) }}
{% endblock %}
