{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ teacher.firstname }} {{ teacher.lastname }}{% endblock %}

{% block container %}
    <h1>{{ teacher.firstname }} {{ teacher.lastname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ teacher.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ teacher.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ teacher.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ teacher.email }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Classes</h1>

    <table class="table">
        <tbody>
        {% for classGroup in teacher.classGroups %}
            <tr>
                <td>{{ classGroup.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Périphériques</h1>

    <table class="table">
        <tbody>
        {% for device in teacher.devices %}
            <tr>
                <td>{{ device }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teacher_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('ui/_delete_form.html.twig', { path: 'teacher_delete', id: teacher.id }) }}
{% endblock %}
