{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des classes{% endblock %}

{% block container %}
    <div class="flex-container sub-navbar">
        <div class="flex-title flex-1">
            <h3 class="title-spacing">Liste des classes ({{ pagination.totalItemCount }})</h3>
        </div>

        <div class="flex-container align-items--center  ">
            {{ knp_pagination_filter(pagination, {
                'class.name': 'Nom',
            }, {'button': 'Rechercher'}) }}
            <div class="button">
                 <a href="{{ path('class_group_new') }}" class="btn btn-success button-new-classgroup"><i class="fa fa-plus"></i> Nouvelle</a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th style="width:30%">{{ knp_pagination_sortable(pagination, 'Nom', 'class.name') }}</th>
            <th style="width:20%">Actions</th>
            <th style="width:30%">Export CSV</th>
            <th style="width:20%"></th>
        </tr>
        </thead>
        <tbody>
        {% for class in pagination %}
            <tr>
                <td>{{ class.name }}</td>
                <td>
                    <a class="btn btn-link btn-xs text-info" title="Voir le détail" data-toggle="tooltip"
                       href="{{ path('class_group_show', {'id': class.id}) }}"><i class="fa fa-eye"
                                                                                  aria-hidden="true"></i></a>
                    <a class="btn btn-link btn-xs text-warning" title="Modifier ce compte" data-toggle="tooltip"
                       href="{{ path('class_group_edit', {'id': class.id}) }}"><i class="fa fa-edit"
                                                                                  aria-hidden="true"></i></a>
                    {% include 'ui/_delete_form.html.twig' with { id: class.id, path: 'class_group_delete', min: true } %}
                </td>
                <td >
                    <form action="{{ path('class_group_export_csv', {'id': class.id}) }}" method="POST">
                        <select name="mois" class="select2" style="width:80%">
                            {% for month in months %}
                                <option value="{{month}}">{{ month }}</option>
                            {% endfor %}
                        </select>
                </td>
                <td>
                        <input type="submit" class="btn btn-primary btn-xs" value="Télécharger le csv" />
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune classe pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>
{% endblock %}
