{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des classes{% endblock %}

{% block container %}
    <h3>Liste des classes ({{ pagination.totalItemCount }})</h3>

    <div class="pull-left">
        {{ knp_pagination_filter(pagination, {
            'class.name': 'Nom',
        }, {'button': 'Rechercher'}) }}
    </div>

    <div class="pull-right">
        <a href="{{ path('class_group_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nouvelle</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Nom', 'class.name') }}</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for class in pagination %}
            <tr>
                <td>{{ class.name }}</td>
                <td>
                    <a class="btn btn-link btn-xs text-info" title="Voir le détail" data-toggle="tooltip"
                       href="{{ path('class_group_show', {'id': class.id}) }}"><i class="fa fa-eye"
                                                                                  aria-hidden="true"></i></a>
                    <a class="btn btn-link btn-xs text-warning" title="Modifier ce compte" data-toggle="tooltip"
                       href="{{ path('class_group_edit', {'id': class.id}) }}"><i class="fa fa-edit"
                                                                                  aria-hidden="true"></i></a>
                    {% include 'ui/_delete_form.html.twig' with { id: class.id, path: 'class_group_delete', min: true } %}
                </td>
                <td>
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown_month">
                            <a class="nav-link dropdown-toggle" href="#" id="month-dropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Choisir un mois
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="month-dropdown">
                                <a class="dropdown-item" href="{{ path('app_logout') }}">mois</a>
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-primary btn-xs" title="télécharger le csv" data-toggle="tooltip"
                        href="{{ path('class_group_export_csv', {'id': class.id}) }}">Télécharger le CSV</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune classe pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>
{% endblock %}
