{% extends 'base.html.twig' %}

{% block title %}ClassGroup{% endblock %}

{% block container %}
    <h1>ClassGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>

            </tr>
            <tr>
                <td>{{ class_group.id }}</td>
                <td>{{ class_group.name }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Students</h1>
    <ul>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        {% for student in class_group.students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.username }}</td>
                </tr>
        {% endfor %}
                </tbody>
            </table>
            <br>

    </ul>

    <h1>Teachers</h1>
    <ul>


        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            {% for teacher in class_group.teachers %}
                <tr>
                    <td>{{ teacher.id }}</td>
                    <td>{{ teacher.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            <br>
    </ul>

    <a href="{{ path('class_group_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <a href="{{ path('class_group_edit', {'id': class_group.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('ui/_delete_form.html.twig', { path: 'class_group_delete', id: class_group.id }) }}
{% endblock %}
