{% extends 'responsive.html.twig' %}

{% block title %}{{ parent() }} - Feuille d'appel{% endblock %}

{% block body %}

<<<<<<< HEAD
=======
    <div class="container">
>>>>>>> 2b40cd593dcc816b3582e48c9f312da96cecb7de
        <div class="table-wrapper">
            <div style="text-align:center">
                <div class="table-title" >
                    <h1>Feuille d'appel</h1>
                </div>
                <div>
                    <p>{{ lesson.name }} - {{lesson.classGroup.name}}</p>
                    <p>{{ lesson.dateStart|date('d-m-Y h:m') }} à {{ lesson.dateEnd|date('d-m-Y h:m') }}</p>
                </div>
            </div>
            <div>
                <table class="table table-bordered" style="margin: auto auto;">
                    <thead>
                        <tr >
                            <th >Etudiant</th>
                            <th >Présent</th>
                            <th >Absent</th>
                            <th >Retard</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in lesson.classGroup.students %}
                            {% set presence = null %}
                            {% if lesson.studentPresences != null %}
                                {% for pres in lesson.studentPresences %}
                                    {% if pres.student.id == student.id %}
                                        {% set presence = pres %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <tr >
                                <form class="formPresence" method="POST" action="lesson/new">
                                    <td >
                                        {{student.firstname ~ ' ' ~ student.lastname}} 
                                        <input type="hidden" name="id_student" value={{student.id}} />
                                        <input type="hidden" name="id_lesson" value={{lesson.id}} />
                                    </td>
                                    {% if presence != null and presence.present == true %}
                                        <td >
                                            <input type="radio" name="present" value="true" checked/>
                                        </td>
                                        <td >
                                            <input type="radio" name="present" value="false" />
                                        </td>
                                        <td >
                                            <input type="number" size=2 value=0 />
                                        </td>
                                    {% else %}
                                        <td >
                                            <input type="radio" name="present" value="true" />
                                        </td>
                                        <td >
                                            <input type="radio" name="present"  value="false" checked/>
                                        </td>
                                        <td >
                                            <input type="number" name="late" size=2 value=0 />
                                        </td>
                                    {% endif %}
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="submit">Valider</button>
            </div>
        </div>
<<<<<<< HEAD
=======
    </div>
>>>>>>> 2b40cd593dcc816b3582e48c9f312da96cecb7de
    <script>
        $('#submit').click(function (){
            console.log("sendFormPresence");
            $(".formPresence").each(function(){
                console.log("sendFormPresence each", this);
                $.ajax({
                    type: "POST",
                    url: "new",
                    data: $(this).serialize(),
                });
            })
        })
    </script>
{% endblock %}
