<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Heimdall{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="d-flex" id="wrapper">

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Heimdall</div>
            <div class="list-group list-group-flush">
                <a href="{{ path('dashboard') }}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="{{ path('class_group_index') }}" class="list-group-item list-group-item-action bg-light">Classes</a>
                <a href="{{ path('student_index') }}" class="list-group-item list-group-item-action bg-light">Etudiants</a>
                <a href="{{ path('teacher_index') }}" class="list-group-item list-group-item-action bg-light">Professeurs</a>
                <a href="{{ path('admin_index') }}" class="list-group-item list-group-item-action bg-light">Administrateurs</a>
            </div>
        </div>
    {% endif %}

    <div id="page-content-wrapper">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <nav class="navbar navbar-expand navbar-light bg-light border-bottom">
            <button class="btn" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript">
        {# Flash messages #}
        {% for label,messages in app.flashes %}
        {% for message in messages %}
        $.notify('{{ message|e('js') }}', {type: '{{ label }}'});
        {% endfor %}
        {% endfor %}

        $('[data-toggle="tooltip"]').tooltip();

        $('#menu-toggle').click(() => {
            $('#wrapper').toggleClass("toggled");
        });
    </script>
{% endblock %}
</body>
</html>
